<form [formGroup]="form">
  <div class="container">
    <p class="text-center">Use the form below to change your password. Your password cannot be the same as your username.</p>
    <div class="form-group">
      <input
        formControlName="password" 
        type="password"
        placeholder="New Password" 
        class="form-control">
        <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
          <div *ngIf="password.errors.required">password is required.</div>
          <div *ngIf="password.errors.minlength">password should be minimum of {{password.errors.minlength.requiredLength}} characters.</div>
          <div *ngIf="password.errors.shouldHaveOneUpperCaseChar">should contain atleast 1 uppercase character.</div>
          <div *ngIf="password.errors.shouldHaveOneNumber">should contain atleast 1 number.</div>
          <div *ngIf="password.errors.shouldHaveOneLowerCaseChar">should contain atleast 1 lowercase character.</div>
        </div>
    </div>
    <div class="form-group">
      <input 
        #checkPassword
        type="password" 
        formControlName="passwordCheck" 
        placeholder="Repeat Password" 
        class="form-control"
        (change)="validatePass(checkPassword)">
        <div *ngIf="passwordCheck.invalid" class="alert alert-danger">
          password did not match!!
        </div> 
    </div>
      <button [disabled]="form.invalid" class="btn btn-primary btn-lg btn-block">Change Password</button>
  </div>
</form>
